<h1>Hello Peper</h1>

<a routerLink="">HOME</a> |
<a routerLink="amit">amit</a> |
<a routerLink="student">student</a> |

<a routerLink="studentDATA">student</a> |
<a routerLink="students">PAGE NOT FOUND</a> |
<a routerLink="servicecall">servicecall</a> |
<a routerLink="parents">parensts</a> |
<a routerLink="child">child</a> |
<a routerLink="company">company</a> |
<a routerLink="person">person</a>     |
<a routerLink="reactiveform">reactiveform</a>   |
<a routerLink="formarray">form</a>
<button (click)="gotoback()">back</button>

<router-outlet></router-outlet>